<!--Sección del Footer-->
<footer class="bg-light text-center text-dark">
  <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-warning" href=" https://github.com/antonellaperlinghieri" role="button"><i class="fab fa-github"></i></a>
        <a class="btn btn-outline-primary" href="https://linkedin.con/mdbootstrap/mdb-ui-kit" role="button"><i class="fab fa-linkedin"></i></a>
      </section>
  </div>
  <div class="text-center p-3" style="background-color:rgba(0, 0, 0, 0.05); ">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Antonella Perlinghieri</a>
  </div>
</footer>

