<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
  <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-white text-dark" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-dark-50 mb-5">Ingrese su usuario y Contraseña!</p>
                  <div class="form-outline form-dark mb-4">
                    <input type="email" formControlName="nombreUsuario" name="email" class="form-control form-control-lg">
                    <label class="form-label">Email</label>
                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                      Usuario obligatorio!
                    </div>
                  </div>
                  <div class="form-outline form-dark mb-4">
                    <input type="password" formControlName="password" name="password" class="form-control form-control-lg" />
                    <label class="form-label">Contraseña</label>
                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                      Contraseña obligatoria!
                    </div>
                  </div>
                  <button class="btn btn-outline-dark btn-lg px-5" type="submit" name="ingresar" value="enviar">Iniciar Sesion</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>