<!-- Sección Sobre mis Proyectos 
<h1 class="text-dark" id="title">Mis Proyectos</h1>
<li *ngFor="let misproyectos of misproyectos">
   <div class="row" id="row">
       <div class="col-xl-4 col-lg-6 mb-4">
         <div class="card">
           <div class="card-body">
             <div class="d-flex align-items-center">
               <img [src]="misproyectos.logo" alt="" style="width: 90px; height: 90px" class="rounded-circle"/>
               <div class="ms-3">
                 <p class="fw-bold mb-1">{{misproyectos.nombre}}</p>
                 <p class="text-muted mb-0">{{misproyectos.Fechacreacion}}</p>
                 <div class="btn-edit">
                  <button type="button" class="btn btn-primary">Editar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
               </div>
             </div>
           </div>
         </div>
       </div> -->

<!-- Card 
<h1 class="text-dark" id="title">Mis Proyectos</h1>
<div class="container">
<div class="card card-image" style="background-image: url(https://fondosmil.com/fondo/32016.jpg);">
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
      <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink" style="color:white ;"><i class="fas fa-clone left"></i> Ver proyecto</a>
    </div>
  </div>
</div>
<div class="card card-image" style="background-image: url(https://fondosmil.com/fondo/32016.jpg);">
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
      <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink" style="color:white ;"><i class="fas fa-clone left"></i> Ver proyecto</a>
    </div>
  </div>
</div>
<div class="card card-image" style="background-image: url(https://fondosmil.com/fondo/32016.jpg);">
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
      <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink" style="color:white ;"><i class="fas fa-clone left"></i> Ver projecto</a>
    </div>
  </div>
</div>
<div class="card card-image" style="background-image: url(https://fondosmil.com/fondo/32016.jpg);">
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
      <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a class="btn btn-pink" style="color:white ;"><i class="fas fa-clone left"></i> Ver proyecto</a>
    </div>
  </div>
</div>
</div> -->

<div class="section-title">
  <h2>MIS PROYECTOS Y CERTIFICADOS</h2>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
        <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
      </div>
    </div>
  </div>
</div>

