 <!-- Cards sección Experiencia y Educación-->
 <h1 class="text-dark" id="title">Experiencia y Educación</h1>
 <li *ngFor="let educacion of educacion">
    <div class="row" id="row">
        <div class="col-xl-4 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img [src]="educacion.logo" alt="" style="width: 90px; height: 90px" class="rounded-circle"/>
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{educacion.curso}}</p>
                  <p class="text-muted mb-0">{{educacion.tiempo}}</p>
                  <div class="btn-edit">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>