/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

/* Tipografia general */
* {
    font-family: 'Montserrat', sans-serif;
}

/* estilos barra de navegacion */

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
    height: 70px;
}


/* Se elimina los estilos de las listas */
li {
    list-style: none;
}

/* Logo ArgPrograma */
.logo {
    width: 10%;
    display: flex;
}
/* Estilos sección encabezado */
.foto_perfil {
    width: 25%;
    position: absolute;
    top: 41%;
    left: 1%;
    float: left;
    display: flex;
    z-index: 10;
}
/* titulos Nombre, Experiencia laboral y Educación, Grado de dominios, Mis proyectos*/
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
}

#title-2 {
    display: flex;
    justify-content:center ;
    align-items: flex-start;
    letter-spacing: 4px;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}






/* Barra de Progreso */
.progress {
    display: flex;
    justify-content: center;
    width: 50%;
    margin:auto;
    margin-top: 13px;
}

/* Estilos sección Mis proyectos */

#row {
    justify-content: center;
    margin: auto;
}



/* Estilos Login */
.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}


/* estilos botones */
button.btn.btn-primary {
    margin: 5px;
    font-family: 'Encode Sans', sans-serif;
    float: right;
}

button.btn.btn-primary.btn {
    margin: 5px;
    font-family: 'Encode Sans', sans-serif;
    float: right;
}

button.btn.btn-dark {
    float: right;
    display: flex;
    margin: 14px;
    color: black;
    font-family: 'Encode Sans', sans-serif;
}

button.btn.btn-dark:hover {
    color: white;
}

button.btn.btn-danger {
    font-family: 'Encode Sans', sans-serif;
    float: right;
    margin: 6px;
}


.btn.btn.btn-outline-dark {
    margin: 7px;

}



/* Estilos textos */
.pink-text {
    color:whitesmoke;
    font-family: 'Encode Sans', sans-serif;
}

.text-danger {
    font-family: 'Encode Sans', sans-serif;
    display: flow-root;
}

.lead.text-muted {
    font-family: 'Encode Sans', sans-serif;
}

.text-muted {
    font-family: 'Encode Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.fw-dark {
    display: flex;
    justify-content: center;
}

/* estilos seccion mis proyectos */

.card.card-image {
    display: inline-block;
    width: 30%;
    margin: 20px;
    background-repeat: no-repeat;

}

/* Estilos tabla experiencia y educacion */

.container.container-1 {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0px wheat;
    width: 98%;
    border-radius: 20px;
}




