/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? familia= Roboto:peso@300;500 & display=swap');

/* Tipografia general */
* {
    font-family: 'Montserrat', sans-serif;
}

/* estilos barra de navegacion */

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
    height: 70px;
}


/* Se elimina los estilos de las listas */
li {
    list-style: none;
}

/* Logo ArgPrograma */
.logo {
    width: 10%;
    display: flex;
}
/* Estilos sección encabezado */
.foto_perfil {
    width: 25%;
    position: absolute;
    top: 41%;
    left: 1%;
    float: left;
    display: flex;
    z-index: 10;
}
/* titulos Nombre, Experiencia laboral y Educación, Grado de dominios, Mis proyectos*/
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
}

#title-2 {
    display: flex;
    justify-content:center ;
    align-items: flex-start;
    letter-spacing: 4px;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* Barra de Progreso */
.progress {
    display: flex;
    justify-content: center;
    width: 50%;
    margin:auto;
    margin-top: 13px;
}

/* Estilos sección Mis proyectos */

#row {
    justify-content: center;
    margin: auto;
}

/* Estilos Login */
.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

/* estilos botones */
button.btn.btn-primary {
    margin: 5px;
    font-family: 'Encode Sans', sans-serif;
    float: right;
}

button.btn.btn-primary.btn {
    margin: 5px;
    font-family: 'Encode Sans', sans-serif;
    float: right;
}

button.btn.btn-dark {
    float: right;
    display: flex;
    margin: 14px;
    font-family: 'Encode Sans', sans-serif;
}

button.btn.btn-dark:hover {
    color: white;
}

button.btn.btn-danger {
    font-family: 'Encode Sans', sans-serif;
    float: right;
    margin: 6px;
}

.btn.btn-outline-warning {
    margin: 7px;
    --bs-btn-hover-bg : #AB2CFE;
    --bs-btn-hover-color : #ffff;
    --bs-btn-hover-border-color: #AB2CFE;
    --bs-btn-color: #AB2CFE;
    --bs-btn-border-color: #AB2CFE;
}

button#btn-iniciar-sesion.btn.btn {
    --bs-btn-hove-bg: #ffff;
    
}

/* Estilos textos */
.pink-text {
    color:whitesmoke;
    font-family: 'Encode Sans', sans-serif;
}

.text-danger {
    font-family: 'Roboto', sans-serif;
    display: flow-root;
}

.lead.text-muted {
    font-family: 'Encode Sans', sans-serif;
}

.text-muted {
    font-family: 'Encode Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.fw-dark {
    display: flex;
    justify-content: center;
}

/* estilos seccion mis proyectos */

.card.card-image {
    display: inline-block;
    width: 46%;
    margin: 20px;
    background-repeat: no-repeat;

}

/* Estilos tabla experiencia y educacion */

.container.container-1 {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0px wheat;
    width: 98%;
    border-radius: 20px;
}

/* Sección educación y experiencia laboral */ 
.section-title {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}
  
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
.section-title p {
    margin-bottom: 0;
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}
  
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}
  
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
}
  
.resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
  
.resume .resume-item  {
    padding-left: 20px;
}
  
.resume .resume-item  {
    padding-bottom: 10px;
}
  
.resume .resume-item:last-child {
    padding-bottom: 0;
}
  
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

/* Seccion mis proyectos y certificados */
